html, body {
	height: 100%;
	width: 700px;
	margin: auto;
	padding: 0;
	overflow-x: hidden;
}

nav {
	width: 674px;
	height: 50px;
	background-color: #92BCEA;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav:nth-child(1) {
	padding-left: 25px;
}

.navlink {
	padding: 5px;
	padding-top: 12px;
	color: white;
	font-size: 20px;
	float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #617073;
    transition: background-color 0.2s ease;
}

.navlink a:hover {
    transition: background-color 0.2s ease;
    background-color: #92BCEA;
}

#messageText{
	text-decoration:none;
    padding: 5px;
    border-radius: 4px;
    background-color: #92BCEA;
}

#findNewPartnerButton {
	color: white;
	padding: 3px;
}

#loginForm , #signupForm{
	width: 40%;
	text-align: center;
	margin: auto;
	white-space: pre;
}

label {
	color: #406496;
	font-size: 20px;
    text-decoration: none;
    margin-left: 5px;
}

#user, #pass, #pass2 {
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: center;
    font-size: 1.1em;
    width: 150px;
    border-radius: 6px;
}

#loginSubmit, #signupSubmit {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background-color: #617073;
    transition: background-color 0.2s ease;
	display:block;
	margin-top: 10px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}