html(lang="en")
  head
    meta(charset="utf-8")
    title Stephen Garabedian's MVC
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    block style
  block body
  block scripts