extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
    .navlink
      a(href="/logout") Log out
      a(href="/accountDestroy") Destroy Account
    section#messageSection
      div.messageDiv
        h3.messageText Hello, this is the message box
    canvas#mainCanvas(style={width: 500, height: 300})
      Your browser doesn't support canvas applications
    button(id="findNew") Find a new partner
block scripts
        script(src="/socket.io/socket.io.js")
        script(src="/assets/clientApp.js")